.container__benefits{
    @include flexbox;
    justify-content: center;
}

.benefit{
    width: 270px;
    
    &__box__sup{
        background-color: rgb(217, 235, 252);
        border-radius: 4px;
        margin-bottom: 30px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__box__icon{
        width: 80px;
        height: 70px;
    }
}

@include screen-1200{
    .benefit{
        width: calc(100% / 4 - 30px);

    }
}

@include screen-768{
    .benefit{
        width: calc(100% / 2 - 30px);
    }
}

@include screen-480{
    .benefit{
        width: 80%;
    }
}

