.header-items{
    @include flexbox();
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
    justify-content: space-between  ;

    .header__logo__nav__bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .nav__bar{
        @include flexbox;
        margin-left: 90px;

        &__links__page{
            @include flexbox;
            font-weight: 500;
            color:$color-black;
            text-shadow: 0px 4px 4px $color-shadow-nav-header;
        }
        
        &__link:hover::after,
        &__link:focus::after{
            display: block;
            border-radius: 50px;
            content: "";
        
            position: relative;
            top:30px;
            left: 0;
        
            background-color: $color-buttons-links;
            height: 4px;
            width: 100%;
        }
    }
    
    .header__contact{

        .header__icon--email{
            width: 26px;
            height: 12px;
        }
        
        .header__icon--phone{
            width: 10px;
            height: 16px;
            margin-left: 30px;
            margin-right: 10px;
        }   
    }
    

    .header__button__menu__mobile{
        background-color: white;
        display: flex;
        align-items: center;
        box-shadow: none;
    }

    .header__button__menu__mobile:hover{
        background-color: white;
        fill: $color-buttons-links;
    }


    .menu__mobile__icon{
        width: 24px;
        height: 16px;
    }
}

@include screen-1200{
    .header-items{
        .header__contact{
            width: 200px;
            .header__icon--phone{
                margin-left: 0px;
            }
        }
    }
}

@include screen-768{
    .header-items{
        padding:16px 15px;

        .nav__bar,
        .header__contact{
            display: none;
        }
    }
}

@media (min-width: 768px) {
    .header-items{
        .header__button__menu__mobile{
            display: none;
        }
    }
}

