
.team-section{
    background-color: $color-team-section;
}

.team{
    @include flexbox;
    justify-content: center;
}

.employee{
    background-color: $color-white;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    text-align: center;
    border: 1px solid #2d58a18c;

    .employee__name{
        font-weight: 500;
        padding-top: 30px;
        padding-bottom: 10px;
        font-weight: medium;
    }

    .employee__container__social__networks{
        display: flex;
        justify-content: center;
        margin-top: 18px;
        margin-bottom: 26px;
    }
}

.employee__image{
    width:270px;
}


@include screen-768{
    .employee__image{
        width:350px;
    }
}

@include screen-480{
    .employee__image{
        width: 100%;
    }
}

