$color-buttons-links: #2196F3;
$color-background-dark: #2F303A;
$color-border-header: #ECECEC;
$color-default-font: #757575;
$color-fill-icons:#AFB1B8;
$color-team-section: #F5F4FA;
$color-titles: #212121;
$color-shadow-nav-header: #bcbcbc;
$color-shadow-cards-portfolio: #EEEEEE;
$color-black: #000;
$color-white: #fff;
